/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font family: 'Arial';
}
img{
    float:left;
    margin-left:5px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
    border-radius: 50%; 
    /*overflow:hidden;*/
    background-color: rgb(255, 255, 255); 
}
body {
	background-color: rgb(192, 192, 192);
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: rgb(0,128,128);
	border: 1px solid #ooo;
}
.bold {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
background-color: #0000ff;
}

.semi_bold{
	font-weight:500;
	font-size: 166p;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(255, 255, 255);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.leftSide {
	position: initial;
	background-color: rgb(255, 255, 255);
	padding: 20px;

}
.rightSide {
	position: initial;
	background-color: rgb(255, 255, 255);
	padding-left: 20px;
}	
.container .top .imgBx .box {
position: relative;
width: 70%;
min-width: 200px;
border-radius: 50%;
overflow: hidden;
aspect-ratio: 1;	

}
.about .box {
	display: glex;
	flex-direction: row;
	margin: 20px 0;
}
.image, .SKILLS, .LANGUAGES, .OTHER SKILLS, .TITLE,
.EDUACATION, .PERSONAL PROJECTS, .ACHIEVEMENTS {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
